html{
    width:100%;
    height:100%;
}
body {
   color: black;
   padding: 0px;
   background-color:white; 
   margin: 0px;
   font-family:Arial, Helvetica, sans-serif;
}

h2{
    margin-bottom:20px;
}

.spaces {
    margin: 20px 30px;
    padding: 10px;
}

a:visited{
    color: black;
}

a{
    color: black;
}

.main-img{
   margin:0px;
   width:100%;

}
.navbar-cont a{
      color:white;
}
.navbar-cont{
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    color:white;
    position: fixed;
    width:100%;
    z-index:9999;

}
.navigation-bar{
    list-style-type: none;
    overflow: hidden;
    display: inline;
}
li {
    display: inline;
    margin: 5px;
}
.form-login-ul{
    display:inline;
    color:white;
}
.form-login-ul-right{
     display:inline;
     float:right; 
     margin-top:0px; 
     margin-right: 40px;
     color:white;
}
.headings{
   text-align: center;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   text-transform:uppercase;
   margin-top:300px;
}
footer{
    margin-top:20px;
    color:black; 
    font-family:sans-serif; 
    font-weight:bold;
}
.container {
    padding-top: 52px;
}
.subhead3{
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight:700;
    display:block;
    margin-left:auto;
    margin-right:auto;
    font-size: 32px;
    text-align:center;
    margin-top:45%
}
.imgs-home{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width:100%;
    margin-top:30px;
    margin-bottom:100px;
}
.imgs-home-li{
    display: inline-block;
    text-align:center;
    text-transform:uppercase;

}
.btn-standart{
   background-color: #337ab7;
   position:relative;
}
#SearchString{
    height:30px;
}
.template-img{
    margin-bottom:30px;
}
.terms{
    width:600px;
    height:300px;
    max-width:600px;
    max-height:3000px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.dd{
    margin-left:45px;
}
