@{
    ViewBag.Title = "Error Ststus Change";
}

<h1 class="text-danger">Error Ststus Change.</h1>
<h2 class="text-danger">An error occurred while changing project status. Developers must be assigned and completed all tasks for project.</h2>

