@{
    ViewBag.Title = "Curved Hands team is the best in making templates for web";
    ViewBag.Message = "";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


    <h4>If you don't like us - you just don't know us!</h4>
<br />
<p>We work in small teams to deliver cost-effective, results-driven solutions that offer a personalised service<br /> 
    with quantifiable results for our clients. We have been designing stunning, usable websites,<br /> 
    delivering advanced application development and mobile/app solutions for a multitude of different companies,<br /> 
    covering the majority of business sectors.</>
