@{
    ViewBag.Title = "About our company";
    ViewBag.Message = "TTP team is the best in making templates for web";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


    <h4>Approachable, curious and smart... and that’s just the studio dog!</h4>
<p>
    What defines one company of service from any other?<br />
    Whilst it can seem intangible in many ways, we know its more than a just a long client list, a fancy portfolio, a clutch of awards, or even a healthy profit.<br />
    What’s paramount for us is the relationships we build with both our team and our clients – and it’s what happens day-in day-out between these interactions that really matters.
</p>
