@{
    ViewBag.Title = "Contacts";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Office 1-310<br />
   Kontraktova square, 2<br />
    <abbr title="Phone">Phone number:</abbr>
    (063)973 49 97
</address>  

<address>
    @*<strong>Телефон:</strong>   <a href="mailto:Support@popopo.com">(063)973 49 97</a><br /> *@
    <strong>E-mail :</strong> <a href="mailto:info@curvyhands.com">info@curvyhands.com</a>
</address>
