@{
    ViewBag.Title = "Contacts";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<h3>Let's Get In Touch!</h3>
<p  style="margin-top:20px">Ready to start your next project with us? That's great!<br /> 
Give us a call or send us an email and we will get back to you as soon as possible!</p>
<address style="margin-top:20px; margin-bottom:20px">
    Office 1-310<br />
   Kontraktova square, 2<br />
    <abbr title="Phone">Phone number:</abbr>
    (063)973 49 97
</address>  

<address>
    @*<strong>Телефон:</strong>   <a href="mailto:Support@popopo.com">(063)973 49 97</a><br /> *@
    <strong>E-mail :</strong> <a href="mailto:info@curvyhands.com">info@curvyhands.com</a>
</address>
