@{
    ViewBag.Title = "Home Page";
}

<head>
    <meta charset="utf-8">
    <title>Web Agency "Curved Hands"</title>

</head>
<style>body{
   background-image: url(http://oi67.tinypic.com/9jm7iu.jpg);
   background-repeat:no-repeat;
   background-size:100%;
}</style>
<div class="headings">
    <h1 style="font-size: 70px; text-align: center; color: white;">CURVED HANDS</h1>
    <h2 style="font-size: 30px; text-align: center; color: white;">Best Web Templates for various needs</h2>
</div>


<div class="home-content-container">
    <div class="imgs-home row">
        <div class="imgs-home-li col-md-3 col-sm-6 col-xs-12"><div><img src="http://sitepark.ua/images/features/10-years.png"></div><b>Ten years on a market</b></div>
        <div class="imgs-home-li col-md-3 col-sm-6 col-xs-12"><div><img src="http://sitepark.ua/images/features/300-projects.png"></div><b>300 projects done</b></div>
        <div class="imgs-home-li col-md-3 col-sm-6 col-xs-12"><div><img src="http://sitepark.ua/images/features/key.png"></div><b>Clear access</b></div>
        <div class="imgs-home-li col-md-3 col-sm-6 col-xs-12"><div><img src="http://sitepark.ua/images/features/individual.png"></div><b>Affordable prices</b></div>
    </div>
</div>


