@{
    ViewBag.Title = "Home Page";
}

<head>
    <meta charset="utf-8">
    <title>Web Agency "Curved Hands"</title>

</head>
<style>body{
   background-image: url(http://oi67.tinypic.com/9jm7iu.jpg);
   background-repeat:no-repeat;
   background-size:100%;
}</style>
<div class="headings">
    <h1 style="font-size: 70px; text-align: center; color: white;">CURVED HANDS</h1>
    <h2 style="font-size: 30px; text-align: center; color: white;">Best Web Templates for various needs</h2>
</div>


<div class="home-content-container">
    <ul class="imgs-home">
        <li class="imgs-home-li"><img src="http://sitepark.ua/images/features/10-years.png"></li>
        <li class="imgs-home-li"><img src="http://sitepark.ua/images/features/300-projects.png"></li>
        <li class="imgs-home-li"><img src="http://sitepark.ua/images/features/key.png"></li>
        <li class="imgs-home-li"><img src="http://sitepark.ua/images/features/individual.png"></li>
    </ul>
</div>


