@model TTP_Project.Models.entities.Order

@{
    ViewBag.Title = "Add Description to Order";
}

<script>
    $('.active form').card({ container: $('.card-wrapper') })
    $('form').card({
        container: '.card-wrapper', // *required*
        numberInput: 'input#number', // optional — default input[name="number"]
        expiryInput: 'input#expiry', // optional — default input[name="expiry"]
        cvcInput: 'input#cvc', // optional — default input[name="cvc"]
        nameInput: 'input#name', // options - defaults input[name="name"]

        width: 200, // optional — default 350px
        formatting: true // optional - default true
    });
</script>

<div class="col-lg-10">
  <div class="well bs-component">

    @using (Html.BeginForm(new { @class = "form-horizontal" }))
    {
       <h2>Address And Payment</h2>
        <fieldset>
            <legend>Shopping Information</legend>

            <br>
            <div>
                <p>Licence</p>
                <p>Some licence text need to modify</p>
                <p><input type="radio" name="vehicle" value="Bike">I agree</p>
                <p><input type="radio" name="vehicle" value="Car">I disagree</p>
                <p><input type="radio" name="vehicle" value="Car">I want change</p>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.DetailDescription, htmlAttributes: new { @class = "col-lg-2 control-label" })
                <div class="col-lg-10">
                    @Html.TextAreaFor(model => model.DetailDescription, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "First Name" } })
                    @Html.ValidationMessageFor(model => model.DetailDescription, "", new { @class = "text-danger" })
                </div>
            </div>
      

            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-8">
                    <button type="submit" value="AddressAndPayment" class="btn btn-primary">Submit Order &raquo;</button>
                </div>
            </div>
        </fieldset>
    }

  </div>
</div>
