@model TTP_Project.Models.entities.Order

@{
    ViewBag.Title = "Add Description to Order";
}

<script>
 
    $(document).ready(function () {
        $("#submitOrder").prop('disabled', true);
        $(".licence").change(function () {
            if ($("#radio_1").is(":checked")) {
                $("#DetailDescription").prop('disabled', true);
                $("#submitOrder").prop('disabled', false);
            }
            else if ($("#radio_2").is(":checked")) {
                $("#DetailDescription").prop('disabled', true);
                $("#submitOrder").prop('disabled', true);
            }
            else {
                $("#DetailDescription").prop('disabled', false);
                $("#DetailDescription").prop('required', true);
                $("#submitOrder").prop('disabled', false);
            }
        });

    });
   
</script>

<div class="col-lg-10">
  <div class="well bs-component">

    @using (Html.BeginForm( new { @class = "form-horizontal" } ))
    {
       <h2>Address And Payment</h2>
        <fieldset>
            <legend>Shopping Information</legend>

            <br>
            <div>
                <p>Licence</p>
                <p>Some licence text need to modify</p>
                <p><input type="radio" name="confirmation" class="licence" value="agree" id="radio_1">I agree</p>
                <p><input type="radio" name="confirmation" class="licence" value="disagree" id="radio_2">I disagree</p>
                <p><input type="radio" name="confirmation" class="licence" value="custom" id="radio_3">I want change</p>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.DetailDescription, htmlAttributes: new { @class = "col-lg-2 control-label" })
                <div class="col-lg-10">
                    @Html.TextAreaFor(model => model.DetailDescription, new { htmlAttributes = new { @id = "descriptionField", @class = "form-control", @type = "text", @placeholder = "First Name" } })
                    @Html.ValidationMessageFor(model => model.DetailDescription, "", new { @class = "text-danger" })
                </div>
            </div>
      

            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-8">
                    <button type="submit" value="AddressAndPayment" class="btn btn-primary" id="submitOrder">Submit Order &raquo;</button>
                </div>
            </div>
        </fieldset>
    }

  </div>
</div>
